*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:linear-gradient(0deg, rgb(18, 18, 212) , rgb(20, 4, 71));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

form{
    border-radius: 24px;
    width: 80%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    box-shadow: 0px 0px 12px;
    #valor{
        height: 30px;
        border: 2px solid black;
        border-radius: 12px;
        box-shadow: 0px 0px 12px;
        padding: 0px 0px 0px 1rem;
        width: 100%;
    }
    #button{
        padding: 0;
        height: 30px;
        width: 50%;
        border: 2px solid peru;
        background:linear-gradient(90deg, peru , black);
        border-radius: 10px;
        color: white;
    }
}

#resultDiv{
    border-radius: 24px;
    width: 80%;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 12px;
}